* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
    color: antiquewhite;
}

header{
    /* background-color: saddlebrown; */
    /* display: inline-block; */
    vertical-align: middle;
    text-align: left;
    /* border: solid 1px; */
}

.shrek{
    height: 45px;
    width: 35px;
}

#conteiner, header{
    width: 75%;

}

#conteiner,#titolo div{
    border: 0px solid ;
}

#titolo div{
    box-shadow: 1px 1px 3px 3px saddlebrown;
    width: 80%;

}

#laporta{
    box-shadow: 1px 1px 3px 3px saddlebrown;
    width: 75%;
}

#lorem{
    box-shadow: 1px 1px 3px 3px saddlebrown;
    width: 85%;
}

#immagine{
    width: 45%;
    box-shadow: 1px 1px 3px 3px saddlebrown;
}

main,aside{
    background-image: url(../img/background-992869_1280.png);
    background-size: contain;
    width: 90%;
}

#conteiner{
    background-image: linear-gradient(to bottom,saddlebrown,brown);
}

article img,section img{
    height: 5em;
    display: inline;
}

#immagine img{
    border-radius: 100%;
}

section h2 span{
    vertical-align: middle;
}

footer{
    /* padding:30px 0; */
}

footer li{
    list-style-type: none;
    color: goldenrod;
    padding: 8px 0;
}

footer a{
    text-decoration: none;
}

nav{
    display: inline-block;
    text-align: right;
}
