* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}

header{
    display: inline-flex;
    text-align: center;
    box-sizing: border-box;
    width: 75%;
    padding: 1em 1em;
    background-image: url(../img/coffee-2085314.svg);
}

section{
    display: inline-flex;

}